body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #0D0D0D;
    color: #51E1ED;
    font-size: 1.875rem;
}

div {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 5px;
}

div::before {
    content: '';
    width: 200%;
    height: 200%;
    background: conic-gradient(
        #1B98F5,
        #23C4ED,
        #383CC1,
        #12B0E8
    );
    left: -50%;
    top: -50%;
    display: flex;
    position: absolute;
    animation: span 1s infinite linear;
}

div::after{
    content: 'RGB';
    width: 95%;
    height: 95%;
    background: #0D0D0D;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5%;
    left: 2.5%;
    letter-spacing: 1pc;
    border-radius: 5px;
}

@keyframes span{
    to{
        transform: rotate(360deg);
    }
}